.button {
    border-radius: 4px;
    border: 1px solid var(--ui---main);
    border-radius: 4px;
    background: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
    width: fit-content;
    color: var(--ui---main);
    line-height: 100%;
    text-wrap: nowrap;
    height: 53px;
}

.button:hover {
    transition: 0.2s;
    background: var(--ui---main);
    color: #fff;
}