.order-details-popup {
    /* display: flex;
    flex-direction: column; */
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 50px minmax(100px, 300px) 53px; */
    /* max-height: 500px; */
    height: 400px;
    /* background-color: rebeccapurple; */
    overflow: hidden;
}



.order-details-popup__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-self: flex-start;
    width: 100%;
}

.order-details-popup__header>div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.order-details-popup__id {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 150%;
    /* color: #000; */
}

.order-details-popup__status {}

.order-details-popup__date {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
    text-align: right;
    color: var(--typography---label-non-active-text);
}

.order-details-popup__result {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    line-height: 100%;
    font-weight: 400;
    font-size: 1.25rem;
    /* align-self: flex-end; */
    margin-top: auto;
}

.field-value {
    font-weight: 500;
    color: var(--typography---main);
}

.order-details-popup__pay-button {
    width: 150px;
}