.remove-comment-popup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.remove-comment-popup h2 {
    font-size: 22px;
}

.buttons {
    display: flex;
    gap: 15px;
    max-width: 100%;
}

.buttons button:nth-child(2) {
    width: 100%;
}