/* fonts----------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/muller/MullerLight.eot');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/muller/MullerMedium.eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/muller/MullerRegular.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../public/fonts/muller/MullerBold.eot');
  font-weight: bold;
  font-style: normal;
}

/* vars----------------------------------------------------------- */
:root {

  --typography---main: #181818;
  /* --typography---main: #ffff; */
  --typography---second: #686868;
  --typography---label-non-active-text: #b9b9b9;
  --ui---main: #399a3a;
  --ui---main-hover: #29812a;
  --ui---red: #ed0000;
  --ui---blue: #06f;
  --ui---gray-bg: #f6f7fb;


  --ui---bg-main: #fff;

  /* --ui---bg-main: #1e1e1e; */

  --font-family: "Muller", sans-serif;
  --second-family: "Roboto", sans-serif;

  --container-width: 1100px;
  --safe-padding: 15px;
}


@media (prefers-color-scheme: dark) {
  :root {

    --ui---bg-main: #1e1d23;
  }
}

/* вспомогательные классы----------------------------------------------------------- */


#radio-button-active {
  background: var(--ui---main);
  border: 1px solid transparent;
}

.page-title-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  color: var(--typography---main);
}

.header-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: right;
  color: var(--typography---second);
  transform: 0.2s;
}

.header-link:hover {
  text-decoration: underline;
  transform: 0.2s;
}


.header-link:active {
  color: var(--ui---red);
  transform: 0.2s;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px 0;
}

.about-section h2 {
  font-weight: 500;
  font-size: 22px;

}

.about-section p {
  font-weight: 400;
  font-size: 16px;
  color: var(--typography---second);
}

.advantages-section {
  display: flex;
  padding: 100px 0;
}

.gallery-section {
  display: flex;
  padding-top: 100px;
  padding-bottom: 150px;
}

html {
  /* background-color: #242424; */
}


/* reset css */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid green; */
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}