:root {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  font-family: var(--font-family);
  color: var(--typography---main);
  background-color: var(--ui---bg-main);
  overflow-x: hidden;
}

#root {
  background-color: var(--ui---bg-main);
  color: var(--typography---main);
  /* transition: 0.2s ease-in; */
}