.gallery {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 20% 5% 50% 5% 20%;
    grid-template-rows: 360px 240px;
    border-radius: 8px;
    /* overflow: hidden; */
    z-index: 1;
}

.gallery__item img {
    display: flex;
    object-fit: cover;
    width: 100%;
}

.gallery__item {
    display: flex;
    border: 1px solid transparent;
    transition: 0.4s;
    overflow: hidden;
}

.gallery__item:hover {
    transform: scale(1.05);
    transition: 0.2s;
    border: 2px solid var(--ui---main);
    border-radius: 8px;
    box-shadow: 0px 0px 80px 15px rgba(57, 154, 59, 0.103);
}

.gallery__item iframe {}

.gallery .gallery__item:nth-child(1) {
    grid-row: 1;
    grid-column: 1/2;
}

.gallery .gallery__item:nth-child(2) {
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 2/5;
    height: 360px;

}

.gallery .gallery__item:nth-child(3) {
    grid-row: 1;
    grid-column: 5/6;
}

.gallery .gallery__item:nth-child(4) {
    grid-row: 2;
    grid-column: 1/3;
}

.gallery .gallery__item:nth-child(5) {
    grid-row: 2;
    grid-column: 3/5;
}

.gallery .gallery__item:nth-child(6) {
    grid-row: 2;
    grid-column: 4/6;
}

@media(max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .gallery .gallery__item:nth-child(1) {
        grid-row: 1;
        grid-column: 1/3;
    }

    .gallery .gallery__item:nth-child(2) {
        display: flex;
        align-items: center;
        grid-row: 4;
        grid-column: 1/3;
    }

    .gallery .gallery__item:nth-child(3) {
        grid-row: 2;
        grid-column: 1;
    }

    .gallery .gallery__item:nth-child(4) {
        grid-row: 2;
        grid-column: 2;
    }

    .gallery .gallery__item:nth-child(5) {
        grid-row: 3;
        grid-column: 1;
    }

    .gallery .gallery__item:nth-child(6) {
        grid-row: 3;
        grid-column: 2;
    }
}

@media(max-width: 450px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}