.edit-info {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 15px;
    padding-bottom: 20px;
}

.edit-info__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit-info__field-name {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
    color: var(--typography---second);
}

.edit-info__input {}

@media(max-width: 992px) {
    .edit-info {
        max-width: 100%;
    }
}