.profile-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.profile-page__header {}

.header__title {
    font-weight: 700;
    font-size: 40px;
    color: var(--typography---main);
}


.profile-page__layout {
    display: grid;
    grid-template-columns: 380px auto;
}

.profile-page__actions {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    height: 460px;
}

.actions__avatar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #252525;
    border-radius: 50%;
}

.actions__avatar>a {
    position: relative;
    display: none;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    cursor: pointer;
}


.actions__avatar>a:hover {
    text-decoration: underline;
}

.actions__avatar>input {
    display: none;
}


.actions__text {
    display: flex;
    line-height: 150%;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.actions__user-name {
    font-weight: 500;
    font-size: 22px;
    color: var(--typography---main);
}

.actions__discount-value {
    font-weight: 400;
    font-size: 16px;
    color: var(--typography---main);
}

.actions__buttons {
    display: flex;
    width: 100%;
    /* max-width: 350px; */
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.actions__action-button {
    width: 100%;
}

.action__edit-mode-buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}


.profile-page__info {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.info__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: var(--typography---main);
}

.info__field {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-weight: 400;

}

.info__field>h5 {
    font-size: 14px;
    line-height: 150%;
    color: var(--typography---second);
}

.info__field>p {
    line-height: 150%;
    color: var(--typography---main);
}

.profile-page__edit-info {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-bottom: 20px;
}

.edit-info__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit-info__field-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--typography---second);
}

.edit-info__input {}


.profile-page__orders-history {
    display: flex;
    flex-direction: column;
}

.orders-history__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.orders-history__header-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: var(--typography---main);
}

.orders-history__clear-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: var(--typography---second);
    transition: 0.2s;
}

.orders-history__clear-link:hover {
    transition: 0.2s;
    text-decoration: underline;
}

.orders-history__list {
    display: flex;
    /* max-height: 300px; */
    max-height: 500px;
    gap: 30px;
    overflow-y: auto;
    flex-direction: column;
    padding: 15px;

}

@media(max-width: 992px) {

    .profile-page__info,
    .profile-page__actions {
        padding: 20px;
    }

    .profile-page__edit-info {
        max-width: 100%;
    }
}

@media(max-width: 700px) {
    .profile-page__layout {
        grid-template-columns: 1fr;
    }
}