.profile-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.profile-page__header {}

.header__title {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--typography---main);
}


.profile-page__layout {
    display: grid;
    grid-template-columns: 320px auto;
    gap: 30px;
}

.profile-page__actions {
    display: flex;
    gap: 25px;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    height: 460px;
}

.actions__avatar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #252525;
    border-radius: 50%;
}

.avatar-image {
    width: 126px;
    height: 126px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.2s;
}

.actions__avatar>a {
    position: relative;
    display: none;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    position: absolute;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 100%;
    color: #fff;
    cursor: pointer;
}


.actions__avatar>a:hover {
    text-decoration: underline;
}

.actions__avatar>input {
    display: none;
}


.actions__text {
    display: flex;
    line-height: 150%;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.actions__user-name {
    font-weight: 500;
    font-size: 1.375rem;
    color: var(--typography---main);
}

.actions__discount-value {
    font-weight: 400;
    font-size: 1rem;
    color: var(--typography---second);
}

.actions__buttons {
    display: flex;
    width: 100%;
    /* max-width: 350px; */
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.actions__action-button {
    width: 100%;
}

.action__edit-mode-buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

@media(max-width: 992px) {
    .profile-page__actions {
        padding: 20px;
    }
}

@media(max-width: 700px) {
    .profile-page__layout {
        grid-template-columns: 1fr;
    }
}