.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    /* max-width: 255px; */
    min-width: 220px;
    gap: 15px;
    padding-bottom: 20px;
    transition: 0.2s ease-out;
    width: 100%;
    align-self: center;
    justify-self: center;
    border-radius: 10px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.product-card:hover {
    /* margin-top: 20px; */
    width: 102%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in;
}

.product-card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
    /* width: 70%; */
    padding: 11px;
}

.product-card__tag {
    padding: 4px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    border-radius: 99px;
}

.product-card__new-tag {
    background: var(--ui---blue);
}

.product-card__popular-tag {
    background: var(--ui---red);
}

.product-card__discount-tag {
    background: var(--ui---main);
}

.product-card__fav-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.product-card__image {
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 6/4.5;
    cursor: pointer;
    margin-bottom: 20px;
}

.product-card__image img {}

.product-card__fav-button:active {
    fill: var(--ui---red);
    color: var(--ui---red);
    transition: 0.2s;
}

.product-card__fav-button:hover {
    color: var(--ui---red);
    transition: 0.2s;
}

.product-card__bottom-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
    height: 100%;
    justify-content: space-between;
}

.product-card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
}

.product-card__title:hover {
    text-decoration: underline;
}

.product-card__fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-card__bottom {
    display: flex;
    gap: 2px;
}

.product-card__bottom>button {
    width: 100%;
    /* text-wrap: nowrap; */


}