.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(55px);
    /* Префикс для Safari */
    transition: 0.2s ease-out opacity, backdrop-filter;
    overflow: hidden;
    user-select: none;
    padding: 0px var(--safe-padding);
    color: var(--typography---main);
}

.popup__content {
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    flex-direction: column;
    padding: 20px;
    background-color: var(--ui---bg-main);
    border-radius: 8px;
    gap: 20px;
    max-width: 90%;
}

.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    color: #fff;
}

.popup__close-button svg:hover {
    color: var(--typography---second);
    transition: 0.2s;
}

.popup__close-button svg:active {
    transform: scale(0.9);
    transition: 0.2s;
}

@media(max-width: 450px) {
    .popup__content {
        width: 100%;
        padding: 20px;
    }

    .popup__close-button {
        right: 0px;
    }
}