.button {
    display: flex;
    border-radius: 4px;
    padding: 16px;
    background: var(--ui---main);
    border: 0;
    line-height: 130%;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    height: 53px;
    font-weight: 500;
    font-size: 16px;
    justify-content: center;
}




@media(hover: hover) {

    .button:hover {
        transition: 0.2s;
        background: var(--ui---main-hover);
    }
}

@media(hover: none) {
    .button:active {
        transition: 0.2s;
        background: var(--ui---main-hover);
    }
}