<div class="popular-products__card popular-products__card_discount">
    <div class="popular-products__card-image">
        <a href="./product.html"> <img src="./img/page/page-popular-products/01.png" alt="#" /></a>
    </div>
    <button class="popular-products__card-favorite-button favorite-button" type="button">
        <svg width="20" height="18" viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M10.0064 3.45274L10.5367 2.92241L11.0836 2.37546C11.9905 1.46862 13.1905 0.971216 14.4711 0.971216C15.7525 0.971216 16.948 1.465 17.8542 2.37122C18.7601 3.27705 19.2536 4.47601 19.25 5.75647V5.75862C19.25 7.03906 18.7527 8.239 17.846 9.14581C17.8459 9.14588 17.8458 9.14596 17.8457 9.14603L9.996 16.9666L2.1585 9.12907C1.25019 8.22075 0.750023 7.02436 0.750026 5.7459L0.75002 5.74375C0.746355 4.46477 1.24314 3.26538 2.15002 2.3585C3.05253 1.45599 4.25252 0.958496 5.52895 0.958496C6.80863 0.958496 8.01315 1.45953 8.92059 2.36698L9.47603 2.92241L10.0064 3.45274ZM9.86611 17.096C9.86644 17.0956 9.86677 17.0953 9.8671 17.095L9.86611 17.096Z"
                stroke-width="1.5" />
        </svg>
    </button>
    <div class="popular-products__card-text">
        <h2 class="popular-products__card-title">
            <a href="#">iPhone 7 Plus Шлейф кнопки включения + Шлейф громкости Оригинал</a>
        </h2>
        <div class="popular-products__card-lines">
            <div class="popular-products__card-line">
                <p>Розница:</p>
                <strong>950 ₽</strong>
            </div>
            <div class="popular-products__card-line">
                <p>Оптом (от 5 штук):</p>
                <strong>750 ₽</strong>
            </div>
            <div class="popular-products__card-line">
                <p>В наличии:</p>
                <strong>2536 шт.</strong>
            </div>
        </div>
        <div class="popular-products__card-bottom">
            <div class="counter">
  <div class="counter__button counter__button-minus">-</div>
  <input class="counter__input" type="tel" value="0" onkeyup="this.value = this.value.replace(/[^\d]/g, '');
      this.value > 100 ? this.value = 100 : this.value = this.value">
  <div class="counter__button counter__button-plus">+</div>
</div>
            <button class="popular-products__card-button border-button add-to-cart-button" type="button">В
                корзину</button>
        </div>
    </div>
</div>