.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 30px var(--safe-padding);
    gap: 20px;
    color: #fff;
    text-wrap: nowrap;
}

.footer h3 {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.footer__logo {
    display: flex;
    min-width: 99px;
}

.footer__navigation,
.footer__contacts,
.footer__pay-methods {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__navigation ul {
    display: flex;
    flex-direction: column;
    line-height: 150%;
    gap: 5px;
}

.footer__contacts ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 100%;
    font-size: 14px;
}

.footer__contacts ul li {
    display: flex;
    gap: 10px;
}

.footer__contacts svg {
    min-width: 14px;
}

.footer__pay-methods {
    display: flex;
    flex-direction: column;
}

.footer__pay-icons {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 15px;
}

.footer__pay-methods img {
    /* width: auto; */
}

.footer__policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer__policy a {
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
}

.footer__policy p {
    font-weight: 400;
    font-size: 14px;
    color: var(--typography---second);
}

@media(max-width: 992px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__navigation,
    .footer__contacts,
    .footer__pay-methods,
    .footer__logo {
        flex: 1 1 20%;
        align-items: center;
    }

    .footer__logo {
        justify-content: center;
    }

    .footer__contacts li,
    .footer__navigation a {
        display: flex;
        justify-content: center;
    }

    .footer__policy {
        flex: 1 1 100%;
    }
}

@media(max-width: 767px) {
    .footer {
        row-gap: 40px;
    }

    .footer__logo {
        flex: 1 1 100%;
    }
}

@media(max-width: 450px) {

    .footer__navigation,
    .footer__contacts,
    .footer__pay-methods,
    .footer__logo {
        flex: 1 1 100%;
        justify-content: center;
    }
}