.radio-buttons-group {
    display: flex;
    gap: 40px;
}

.radio-buttons-group__option {
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    user-select: none;
}

.option__check {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background: var(--ui---bg-main);
    transition: 0.2s;
    border: 2px solid var(--ui---main);
}

.option__check.active {
    background: var(--ui---main);
    border: 2px solid transparent;
}