.burger-menu {
    position: fixed;
    top: 0px;
    /* z-index: 9; */
    z-index: 1000;
    height: 100vh;
    background-color: var(--ui---bg-main);
    transition: 0.2s;
    -webkit-box-shadow: 7px -2px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 7px -2px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 7px -2px 7px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 50px;
    width: 320px;
}

.box {
    display: flex;
    position: relative;
    align-items: center;
    top: 82px;
    flex-direction: column;
    gap: 60px;
}

.links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    text-wrap: nowrap;
    color: var(--typography---main);
}

.burger-menu__theme-toggle {
    position: absolute;
    right: 20px;
    top: 55px;
}

@media(min-width: 920px) {
    .burger-menu {
        display: none;
    }
}

@media(min-width: 767px) {

    .burger-menu__theme-toggle {
        top: 55px;
    }
}