.skeleton-shimmer {
    position: relative;
    border-radius: 8px;
    background-color: var(--ui---bg-main-darker);
    overflow: hidden;
}

.skeleton-shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            var(--ui---bg-main),
            transparent);
    animation: shimmer 1.5s infinite;
    will-change: transform;
}

@keyframes shimmer {
    100% {
        transform: translateX(200%);
    }
}