.product-page {
    position: relative;
}

.product-page__product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    padding-top: 55px;
    padding-bottom: 30px;
    gap: 30px;
}

.product-card__photos {
    position: relative;
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-card__slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    padding: 0 40px;
}


.product-card__slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    /* height: 400px; */
    /* max-height: 400px; */
}

.swiper__button::after {
    content: '';
}

.swiper__button {
    height: 32px;
    width: 32px;
    border-radius: 8px;
    color: var(--typography---main);
    transition: 0.2s;
}




.swiper__button:active {
    background-color: var(--ui---main-hover);
}

.swiper__next-button {}

.swiper__prev-button {}


.product-card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 2;
}

.product-card__tag {
    padding: 4px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    border-radius: 99px;
    cursor: pointer;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.18);
}


.product-card__new-tag {
    background: var(--ui---blue);

}

.product-card__popular-tag {
    background: var(--ui---red);
}

.product-card__discount-tag {
    background: var(--ui---main);
}

.product-info__photos-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 5px;
    user-select: none;
}


.product-info__photos-list::-webkit-scrollbar,
.product-info__photos-list::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.product-info__photos-item {
    display: flex;
    justify-content: center;
    max-height: 120px;
    min-width: 120px;
    aspect-ratio: 16/9;
    border: 1px solid transparent;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 4px;
}



.product-info__photos-item img {
    height: 100%;
}

.product-card__info {
    display: flex;
    flex-direction: column;
}

.info__title {
    margin-bottom: 10px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: var(--typography---main);

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.info__sub-title {
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    row-gap: 10px;
    font-size: 14px;
    color: var(--typography---second);
    margin-bottom: 32px;
    text-wrap: nowrap;

}

.sub-title__article {
    font-family: var(--second-family);
    font-weight: 400;

}

.sub-title__in-stock {
    color: var(--ui---main);
}


.info__fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;
}

.info__fields * {
    width: fit-content;
}

.info__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    padding-top: 10px;
}

.controls__add-to-favorite-button {
    width: fit-content;
    height: 53px;
    text-wrap: nowrap;
}



.controls__add-to-cart-icon-button {
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    background-color: var(--ui---main);
    padding: 10px 16px;
    border-radius: 4px;
    transition: 0.2s;
    height: 53px;
    text-wrap: nowrap;
    color: #fff;
}

.controls__add-to-cart-icon-button svg {
    width: 20px;
}


.sub-title__in-stock_no-in-stock {
    color: var(--ui---red);
}

.product-page__popular-products {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 100px 0;
}


.product-page__zoom-image {
    position: absolute;
    max-width: 130px;
    max-height: 130px;
    overflow: hidden;
    transform: scale(3);
    top: 155px;
    right: -70%;
    -webkit-box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--ui---bg-main);
}

.product-page__zoom-image>img {
    position: relative;
    transform-origin: top left;
    user-select: none;
    pointer-events: none;
    max-width: none;
}


.product-page__actions-panel {
    position: fixed;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    right: 0px;
    background-color: var(--ui---bg-main-darker);
    width: 100%;
    z-index: 10;
    transform: translateY(100%);
    transition: 0.2 ease-out;
    gap: 20px;
    border-radius: 8px 8px 0 0;

    box-shadow: 1px 0px 18px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 18px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 18px 1px rgba(0, 0, 0, 0.5);
}

.actions-panel__left-box,
.actions-panel__right-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions-panel__right-box {
    min-width: fit-content;
}

.actions-panel__image {
    max-height: 40px;
}

.actions-panel__title {
    font-weight: 500;
    cursor: pointer;
}

.actions-panel__price {}

.controls__add-to-cart-icon-button {}

.product-page__actions-panel .controls__add-to-favorite-button p {
    display: none;
}



@media(hover: hover) {
    .swiper__button:hover {
        background-color: var(--ui---main);
        color: #fff;
    }

    .product-info__photos-item:hover {
        border: 1px solid var(--ui---main);
        background-color: #00000067;
        transition: 0.2s;
    }

    .controls__add-to-cart-icon-button:hover {
        background-color: var(--ui---main-hover);
        color: #fff;
    }

    .controls__add-to-favorite-button:hover {
        color: var(--typography---main);
    }
}

@media(hover: none) {
    .swiper__button:active {
        background-color: var(--ui---main);
        color: #fff;
    }

    .product-info__photos-item:active {
        border: 1px solid var(--ui---main);
        background-color: #00000067;
        transition: 0.2s;
    }

    .controls__add-to-cart-icon-button:active {
        background-color: var(--ui---main-hover);
        color: #fff;
    }

    .controls__add-to-favorite-button:active {
        color: var(--typography---main);
    }
}



@media(max-width: 992px) {

    .product-page__popular-products {
        gap: 50px;
        padding: 75px 0;
    }

    .controls__add-to-cart-button {
        display: none;
    }

    .controls__add-to-cart-icon-button {
        display: flex;
    }

}

@media(max-width: 984px) {
    .info__controls {
        grid-template-columns: 75px 200px;
        grid-template-rows: 1fr 1fr;
    }

    .controls__add-to-favorite-button {
        grid-row: 2;
        grid-column: 1/3;
    }
}


@media(max-width: 768px) {

    .product-page__product-card {
        padding-top: 35px;
        padding-bottom: 20px;
    }

    .product-page__popular-products {
        gap: 40px;
        padding: 50px 0;

    }

    .info__controls .controls__add-to-favorite-button p {
        display: none;
    }

}

@media(max-width: 660px) {
    .product-page__product-card {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 524px) {
    .info__controls .controls__add-to-favorite-button p {
        display: none;
    }

    .product-page__product-card {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .product-page__popular-products {
        padding: 20px 0;
        /* gap: 20px; */
    }

    .info__sub-title {
        margin-bottom: 16px;
    }

    .info__fields {
        margin-bottom: 16px;
    }
}