.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__top-content{
    display: flex;
    padding: 11px;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 var(--safe-padding);
}


.header__top-content a:hover{
    text-decoration: underline;
    color: var(--ui---main);
    transition: 0.2s;
    padding: 0 15px;
}

.header__top-links{
    display: flex;
    flex: 1 1 50%;
    gap: 20px;
}

.header__top-links a {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--typography---main);
    transition: 0.2s;
}


.header__top-buttons{
    display: flex;
    flex: 1 1 50%;
    justify-content: end;
    gap: 30px;
}

.header__phone-number{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    gap: 8px;
}

.header__language-switch{
    display: flex;
    font-weight: 400;
    align-items: center;
    font-size: 14px;
    line-height: 100%;
    gap: 5px;
}

/* .header__language-switch svg{

} */


.header__middle-content{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 var(--safe-padding);
}

.header__logo{
    min-width: 99px;
}

.header__search-input{
    display: flex;
    width: 665px;
    min-width: 300px;
}

.header__middle-buttons{
    display: flex;
    gap: 30px;
}

.header__middle-button{
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.header__middle-button div {
    position: absolute;
    border-radius: 10px;
    padding: 2px 6px;
    background: var(--ui---red);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    top: -6px;
    right: 15px;
}

.mobile-input-box{
    display: none;
    align-items: center;
    padding: 0 15px;
    background-color: var(--ui---main);
}

.header__middle-menu-button{
    display: none;
    z-index: 10;
}

.header__middle-catalog-button{
    display: none;
    z-index: 8;
}



.header__bottom-content{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0 var(--safe-padding);

}

.header__brands-list{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.header__brands-list li {
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.header__bottom-list{
    display: flex;
    gap: 20px;
}

.header__brands-list .header__price-link{
    color: var(--ui---main);
}

@media (max-width: 992px){

    .header__top-content,
    .header__bottom-content{
        display: none;
    } 

    .header__search-input {
        display: none ;
    }

    .header__middle-menu-button{
        display: flex;
    }

    .header__middle-catalog-button{
        display: flex;
    }

    .header__middle-content{
        padding-top: 40px;
        padding-bottom: 20px;
        margin: 0;
    }

    .mobile-input-box{
        display: flex;
    }


    .header__middle-buttons p{
        display: none;
    }

    .header__logo{
    }
}
