.header {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: var(--container-width);
}

.header a {
    display: flex;
    align-items: center;
}

.header__top-content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 11px var(--safe-padding);
}


.header__top-content a:hover {
    text-decoration: underline;
    color: var(--ui---main);
    transition: 0.2s;
    /* padding: 0 15px; */
}

.header__top-links {
    display: flex;
    flex: 1 1 50%;
    gap: 20px;
}

.header__top-links a {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--typography---main);
    transition: 0.2s;
}


.header__top-buttons {
    display: flex;
    flex: 1 1 50%;
    justify-content: end;
    gap: 30px;
}

.header__phone-number {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    gap: 8px;
}

.header__middle-content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 var(--safe-padding);
}

.header__logo {
    min-width: 99px;
}

.header__middle-buttons {
    display: flex;
    gap: 30px;
}

.header__middle-button {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

@media(hover: hover) {
    .header__middle-button:hover {
        color: var(--ui---main);
        transition: 0.2s;
    }
}

@media(hover: none) {
    .header__middle-button:active {
        color: var(--ui---main);
        transition: 0.2s;
    }
}

.header__middle-button div {
    position: absolute;
    border-radius: 10px;
    padding: 2px 6px;
    background: var(--ui---red);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    top: -6px;
    right: 15px;
}

.header__mobile-input {
    display: none;
    width: 100%;
    z-index: 1000;
    align-items: center;
    position: relative;
    padding: var(--safe-padding);
    height: 46px;
    gap: 15px;
    background-color: var(--ui---main);

    -webkit-box-shadow: 5px 6px 8px -4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 5px 6px 8px -4px rgba(34, 60, 80, 0.2);
    box-shadow: 5px 6px 8px -4px rgba(34, 60, 80, 0.2);

}

.header__mobile-input .mobile-input__search-result {
    /* top: 176px; */
    top: 46px;
    left: -25px;
    width: 100vw;
    padding-top: 0px;
    border-radius: 0px 0px 6px 6px;
}

.input-container {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    height: 46px;
    gap: 10px;
    border-left: solid 1px #44b045;
    padding-left: 18px;
    transition: 0.2s;
}

.header__mobile-input input {
    width: 100%;
}


.header__mobile-input input::placeholder {
    color: #fff;
}

.header__middle-menu-button {
    display: none;
    z-index: 10;
}

.header__middle-catalog-button {
    display: none;
    z-index: 9;
}


.header__bottom-content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0 var(--safe-padding);

}

.header__brands-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr) 100px;
    /* display: flex;
    align-items: center; */
    align-items: center;
    text-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    max-height: 40px;
}

.header__brands-list li {
    position: relative;
    display: flex;
    gap: 6px;
    cursor: pointer;
    height: 20px;
    /* width: 100%; */
    max-width: 100px;
}

.header__bottom-list {
    display: flex;
    gap: 20px;
}

.header__brands-list .header__price-link {
    color: var(--ui---main);
}


.burger {
    display: none;
    position: relative;
    gap: 10px;
    align-items: center;
    height: 22px;
    overflow: hidden;
    transition: 0.2s;
    z-index: 9;
}

.hide-burger {
    width: 0;
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.line {
    position: relative;
    display: flex;
    width: 22px;
    height: 2px;
    left: 0px;
    border-radius: 2px;
    background-color: var(--typography---main);
    transition: 0.2s;
}

.line:nth-child(1) {
    top: 0;
}

.line:nth-child(3) {
    bottom: 0;
}

.line_active:nth-child(3) {
    transform: rotate(-45deg);
    transition: 0.2s;
    bottom: 4.5px;

}

.line_active:nth-child(1) {
    transform: rotate(45deg);
    top: 2px;
    transition: 0.2s;
}

.hide {
    display: none;
}


@media (max-width: 992px) {

    .header__top-content,
    .header__bottom-content {
        display: none;
    }

    .header__middle-content .header__search-input {
        display: none;
    }

    .header__middle-menu-button {
        display: flex;
    }

    .header__middle-catalog-button {
        display: flex;
    }

    .header__middle-content {
        padding-top: 40px;
        padding-bottom: 20px;
        margin: 0;
    }

    .header__mobile-input {
        display: flex;
    }


    .header__middle-buttons p {
        display: none;
    }

    .burger {
        display: flex;
    }
}

@media(max-width: 768px) {

    .header__middle-content {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

@media(max-width: 360px) {
    .header__middle-content {
        gap: 10px;
    }
}