.cart-popoup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cart-popoup__text {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 150%;
    text-align: center;
    color: inherit;
    /* text-wrap: wrap; */
}

.cart-popoup__buttons {
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
}

.cart-popoup__buttons * {
    width: 100%;
}

@media(max-width: 630px) {
    .cart-popoup__buttons {
        display: flex;
        flex-direction: column;
    }

    .cart-popoup,
    .cart-popoup__buttons {
        width: 100%;
    }
}

@media(max-width: 450px) {}