.layout{
    position: relative;
    width: 100vw;
    /* padding: 0 15px; */
}

.layout__content{
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    height: 100vh;
    margin: 0 auto;
}

.main{
    flex: 1 1 auto;
    width: 100%;
    margin: 0 auto;
}

.catalog-menu{
    position: absolute;
    top: 200px;
}
