.layout{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    /* padding: 0 15px; */
}

.header{
    margin: 0 auto;
    width: 100%;
}

.main{
    flex: 1 1 auto;
    width: 100%;
    padding: 0 var(--safe-padding);
}

.footer{
    width: 100%;
    background-color: #1e1e1e;
}
