.search-result__item {
    display: grid;
    grid-template-columns: 80px auto 80px 150px;
    gap: 15px;
    padding: 0 10px;
    font-weight: 400;
    /* border-radius: 4px; */
    transition: 0.2s;
    padding: 10px;
    cursor: pointer;
    min-height: 115px;
}

.search-result__item:hover {
    -webkit-box-shadow: 1px 2px 19px -3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 1px 2px 19px -3px rgba(0, 0, 0, 0.29);
    box-shadow: 1px 2px 19px -3px rgba(0, 0, 0, 0.29);
    transition: 0.2s;
    /* background-color: var(--ui---main); */
}

.item__image {
    display: flex;
    align-items: center;
    max-height: 80px;
}

.item_info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 5px;
}

.item__title {
    font-size: 1rem;
    line-height: 150%;
    color: var(--typography---main);

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    cursor: pointer;
}

.item__title:hover {
    text-decoration: underline;
}

.sub-title {
    display: flex;
    justify-content: space-between;
    font-size: 0.8125rem;
    line-height: 100%;
    color: var(--typography---second);
    gap: 5px;
    flex-wrap: wrap;
    text-wrap: nowrap;
}

.item__prices {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item__prices>div {
    display: flex;
    flex-direction: column;
}

.item__price-type {
    font-size: 0.875rem;
    line-height: 110%;
    text-align: center;
    color: var(--typography---second);
    margin-bottom: 5px;
}

.item__price-value {
    font-weight: 700;
    text-align: center;
    font-size: 1.25rem;
    color: var(--ui---main);
}

.item__controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.item__controls>* {
    width: 100%;
}

.controls__add-to-cart-button {
    height: 44px;
}

@media(max-width: 700px) {
    .search-result__item {
        grid-template-columns: 80px auto 80px auto;
        gap: 10px;
        padding: 5px;
    }
}

@media(max-width: 600px) {
    .search-result__item {
        grid-template-columns: 80px auto 80px;
        gap: 10px;
        padding: 5px;
    }

    .item__controls {
        display: none;
    }
}

@media(max-width: 500px) {
    .item__title {
        -webkit-line-clamp: 4;
    }

    .item__title {
        font-size: 0.875rem;
    }

    .sub-title {
        font-size: 0.75rem;
    }

    .item__price-type {
        font-size: 0.75rem;
    }

    .item__price-value {
        font-size: 1.125rem;
    }
}