body .main-page {
    display: flex;
    flex-direction: column;
    user-select: none;
    padding-top: var(--safe-padding);
    padding-bottom: 150px;
    background-color: var(--ui---bg-amain);
}

.main-page__intro-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.intro-section__slider {
    position: relative;
    width: 100%;
    height: 230px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8);
    background-color: transparent;
    border-radius: 8px;

}

.intro-section__popular-slider {
    max-width: 100%;
}

.intro-section__slider .slide {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    padding: 15px;
    background: var(--ui---main);
    border-radius: 4px;
    overflow: hidden;
}

.slide img {
    /* display: none; */
    position: absolute;
    /* width: 250px; */
    top: -8%;
    right: -120px;
    width: 500px;
}

.pagination {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 5px;
    bottom: -10px;
    left: -10px;
    text-align: center;
    padding: 20px;
}

.pagination .swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    background: #fff;
    opacity: 0.4;
    border-radius: 99px;
    transition: all 0.3s ease;
}

:global(.swiper-pagination-bullet:hover) {
    opacity: 0.7;
}

:global(.swiper-pagination-bullet-active) {
    opacity: 1;
}

.slide h2 {
    position: relative;
    font-weight: 700;
    font-size: clamp(1.5rem, 4vw, 2rem);
    line-height: 130%;
    color: #fff;
    width: 75%;
    z-index: 5;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.slide .slide__button {
    background-color: #fff;
    color: var(--ui---main);
    width: fit-content;
    font-weight: bold;
}

.slide .slide__button:hover {
    background-color: #cecece;
}

.into-section__products {
    display: none;
    width: 100%;
    gap: 7px;
    flex-direction: column;
}

.into-section__product {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.into-section__product img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    object-fit: fill;
    height: 200px;
}

.into-section__product .product__more-button {
    display: flex;
    background-color: transparent;
    color: var(--ui---main);
    padding: 0;
    gap: 10px;
}

.main-page__find-item-section {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    /* padding-bottom: 100px; */
}

.find-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    gap: 30px;
    flex-wrap: wrap;
}

.find-item__header-path {
    display: flex;
}

.find-item__header-path>p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 100%;
    color: var(--typography---second);
    cursor: pointer;
    padding: 0 5px;
    text-wrap: nowrap;

}

.find-item__header-path>p:active {
    color: rgb(105, 105, 105);
}



.find-item__header-path>p:hover {
    text-decoration: underline;
    transition: 0.2s;
    color: var(--ui---main);
}

.find-item__header-filters {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
}

.find-item__header-filter {
    padding-bottom: 2px;
    border-bottom: solid 3px transparent;
    transition: 0.2s;
    cursor: pointer;
    color: var(--typography---second);
}

.find-item__header-filter.active {
    border-bottom: solid 3px var(--ui---main);
    transition: 0.2s;
    color: var(--typography---main);
}

.main-page__popular-products-section {
    /* display: flex; */
    flex-direction: column;
    gap: 60px;
    padding: 100px 0px;
}


.main-page__about-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 150%;
    padding: 100px 0;

}



@media(max-width: 1050px) {
    .main-page__find-item-section .find-item__categories {
        grid-template-columns: 1fr 1fr;
    }
}


@media(max-width: 992px) {
    .main-page {
        padding-top: 35px;
        padding-bottom: 135px;
    }

    .main-page__find-item-section {
        padding-top: 55px;
        gap: 30px;
        padding-bottom: 85px;
    }

    .main-page__popular-products-section,
    .main-page__about-section {
        padding: 70px 0;
        gap: 30px;
    }

}

@media(max-width: 850px) {
    .main-page__intro-section {
        grid-template-columns: 1fr;
        flex-direction: column;
    }

    .into-section__products {
        display: none;
    }

}

@media(max-width: 800px) {
    body .main-page {
        padding-top: var(--safe-padding);
        padding-bottom: 100px;
    }

}

@media(max-width: 768px) {
    .main-page__find-item-section {
        padding-top: 35px;
        gap: 20px;
        padding-bottom: 65px;
    }

    .main-page__popular-products-section,
    .main-page__about-section {
        padding: 50px 0;
        gap: 20px;
    }
}


@media(max-width: 480px) {
    .main-page {
        padding-top: 15px;
        padding-bottom: 75px;
    }
}

@media(max-width: 450px) {
    .main-page__find-item-section .find-item__categories {
        grid-template-columns: 1fr;
    }
}