.search-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    position: relative;
    /* overflow: hidden; */
}

.search-page__title {
    padding: 20px 0;
}

.search-page__search-items {
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-title {}

.search-page__applied-filters-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-page__applied-filters {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    max-height: 80px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 10px;
}

.applied-filters__found-counter {
    text-wrap: nowrap;
    margin-bottom: 5px;
}

.search-page__layout {
    display: flex;
    gap: 30px;
}

.search-page__filters-button {
    display: none;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--ui---main);
    color: #fff;
    width: fit-content;
    text-wrap: nowrap;
    margin-bottom: 20px;
}

@media(max-width: 992px) {
    .search-page__search-items {
        /* grid-column: 2; */
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 736px) {
    .search-page {
        padding-left: 0px;
    }

    .search-page__search-items {
        grid-template-columns: 1fr;
    }

}

@media(max-width: 550px) {
    .search-page__search-items {
        grid-template-columns: 1fr 1fr;
    }

    .search-page__layout {
        gap: 0;
    }

    .search-page__filters-button {
        display: flex;
    }

}

@media(max-width: 480px) {
    .search-page__search-items {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 360px) {
    .search-page__search-items {
        grid-template-columns: 1fr;
    }
}