.cart-item {
    display: contents;
    user-select: none;
}

.cart-item__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: start;
}

.cart-item__title h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.cart-item__title p {
    font-weight: 400;
    font-size: 14px;
    color: var(--typography---second);
}

.cart-item__controls {
    display: contents;
}


.cart-item__img {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    width: 100px;
    aspect-ratio: 6/4.5;
}

.cart-item__fields {
    display: none;
}



@media(max-width: 767px) {

    .cart-item__controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 75px;
        padding: 6px;
    }

    .cart-item__controls p {
        display: none;
    }

    .cart-item__title {
        flex-direction: column-reverse;
        grid-column: 2/4;
    }

    .cart-item {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .cart-item__fields {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        grid-column: 1/3;
    }

    .cart-item>p {
        display: none;
    }

    .cart-items__title {
        display: none;
    }

}

@media(max-width: 550px) {
    .cart-item {
        display: grid;
        grid-template-columns: 100px auto 75px;

        gap: 15px;
        width: 100%;
    }
}