.items-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    overflow: visible;
    height: fit-content;
}

@media(max-width: 1050px) {
    .items-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 850px) {
    .items-list {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media(max-width: 530px) {
    .items-list {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}