.reset-password-page {
    padding: 50px 0;
    height: 100%;
}

.reset-password-page__title {
    padding-bottom: 50px;
}

.reset-password-page__main-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    /* height: 100%; */
    justify-content: center;
}

.main-box__title {
    font-size: 22px;
    font-weight: 600;
}

.main-box__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-box__message-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-box__message-text>svg {
    width: 80px;
    color: var(--ui---main);
}

.main-box__message-text h3 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}


.message-text__redirect-button {
    display: flex;
    gap: 5px;
}

.message-text__redirect-button svg {
    display: none;
}



.main-box__success-message a:hover {
    color: var(--ui---main);
}