.check-box {
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    user-select: none;
    color: var(--typography---main);
}




@media(hover: hover) {
    .check-box:hover .check-box__indicator {
        transition: 0.2s;
        border: 1px solid var(--typography---second);
    }

    .check-box:hover .check-box__indicator.active {
        transition: 0.2s;
        border: 1px solid var(--ui---main);
    }

    .check-box:hover {
        transition: 0.2s;
        color: var(--typography---second);
    }


}

@media(hover: none) {
    .check-box:active .check-box__indicator {
        transition: 0.2s;
        border: 1px solid var(--typography---second);
    }

    .check-box:active .check-box__indicator.active {
        transition: 0.2s;
        border: 1px solid var(--ui---main);
    }

    .check-box:active {
        transition: 0.2s;
        color: var(--typography---second);
    }
}



.check-box input {
    position: absolute;
    width: 100%;
    visibility: hidden;
}


.check-box__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    min-height: 16px;
    border-radius: 2px;
    background: var(--ui---bg-second);
    transition: 0.2s;
    border: 1px solid var(--typography---label-non-active-text);

}


.active {
    background: var(--ui---main);
    border: 1px solid transparent;
}