.check-box {
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    user-select: none;
}

.check-box input {
    position: absolute;
    width: 100%;
    visibility: hidden;
}


.check-box__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    min-height: 16px;
    border-radius: 2px;
    background: #fff;
    transition: 0.2s;
    border: 1px solid var(--typography---label-non-active-text);

}


.active {
    background: var(--ui---main);
    border: 1px solid transparent;
}