.catalog-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8;
    height: 100vh;
    background-color: var(--ui---bg-main);
    transition: 0.2s;
    -webkit-box-shadow: 7px -2px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 7px -2px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 7px -2px 7px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* overflow-y: auto; */
    /* padding: 50px; */
    width: 320px;
}

.box {
    display: flex;
    position: relative;
    align-items: center;
    top: 82px;
    flex-direction: column;
    gap: 60px;
    max-height: 100vh;
    overflow-y: scroll;
}

.links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 150%;
    text-align: center;
    text-wrap: nowrap;
    color: var(--typography---main);
    position: relative;
    top: 0px;
}

.links li {
    display: flex;
    gap: 5px;
}

.burger-menu__language {
    position: absolute;
    right: 20px;
    top: 82px;
}

.links .price-link {
    color: var(--ui---main);
}


.brand-item {
    display: flex;
    flex-direction: column;
    /* background-color: rebeccapurple */
}

.brand-item__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.brand-item__header svg {
    color: var(--typography---main);
}

.brand-item__category {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
}

.brand-item__category h3 {
    background-color: red;
}

.brand-item__category ul {
    height: 0;
    overflow: hidden;
}

.open {
    height: fit-content;
}

@media(min-width: 767px) {
    .catalog-menu {
        top: 146px;
    }

    .fixed-input-shifts {
        top: 0;
    }
}


@media(max-width: 768px) {
    .catalog-menu {
        top: 125px;
    }

    .fixed-input-shifts {
        top: 0;
    }
}