.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 0.875rem;
    gap: 3px;
    cursor: default;
}

.field__title {
    color: var(--typography---second);
}

.field__value {
    text-align: right;
    font-weight: 400;
    color: var(--typography---main);
}

.clickable .field__value:hover {
    text-decoration: underline;
    color: var(--ui---main);
    cursor: pointer;
}