.burger{
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 22px;
}

.lines{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.line{
    position: relative;
    display: flex;
    width: 22px;
    height: 2px;
    left: 0px;
    border-radius: 2px;
    background-color: var(--typography---main);
    transition: 0.2s;
}

.line:nth-child(1){
    top: 0;
}

.line:nth-child(3){
    bottom: 0;
}

.line_active:nth-child(3){
    transform: rotate(-45deg);
    transition: 0.2s;
    bottom: 4.5px;

}


.line_active:nth-child(1){
    transform: rotate(45deg);
    top: 2px;
    transition: 0.2s;
}

.hide{
    display: none;
}


