.viewed-products-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--container-width);
}

.page-title-section {}

.section-title {}

.header-link {}

.viewed-products-page__more-button {}